.blocRechercheActiviteLeft
{
    float: left;
    width: 50%;
    height: 100%;
    background-color: #03A9F4;
    margin-top: 120px;
    border-radius: 10px;

}

h3{

    margin:-15px
}
.blockleft{
    padding: 30px;

}

.blocRechercheActiviteRight
{
    float: right;
    width: 50%;
    height: 680px;
    margin-right: -10px;

}

#titreBlocRecherche
{
    text-align: center;
}

#btnSearch
{
    float: right;
    margin: 30px;

}

