.blocRechercheActiviteLeft
{
    float: left;
    width: 50%;
    height: 100%;
    background-color: #03A9F4;
}

.blocRechercheActiviteRight
{
    float: right;
    width: 50%;
    height: 680px;
}

#titreBlocRecherche
{
    text-align: center;
}

#btnSearch
{
    float: right;
    margin-right: 30px;
}
